<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New user</title>
</head>
<body>
<h1>Create user</h1>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Name:</label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <br/>

    <label for="age">Age:</label>
    <input type="number" th:field="*{age}" id="age" min="0"/>
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <br/>

    <label for="email">Email/login:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color:red" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    <br/>

    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color:red" th:if="${passwordError}" th:text="${passwordError}"></div>
    <br/>

    <p>Roles:</p>
    <div th:each="role : ${roles}">
        <label>
            <input type="checkbox"
                   th:field="*{roles}"
                   th:value="${role.id}">
            <span th:text="${role.name}"></span>
        </label>
    </div>
    <br/>
    <input type="submit" value="Create"/>
</form>
<br/>
<a th:href="@{/admin}">Back</a>
</body>
</html>
